/* === NOTE CONTENT STYLE === */

.note-content {
  font-size: 14px;
  line-height: 1.4;
}

/* Paragraph spacing */
.note-content p {
  margin: 0.25em 0;
}

/* List */
.note-content ul,
.note-content ol {
  margin: 0.25em 0;
  padding-left: 1.25em;
}

/* List item */
.note-content li {
  margin: 0;
}

/* Heading */
.note-content h1,
.note-content h2,
.note-content h3 {
  margin: 0.5em 0 0.25em;
}

/* Links */
.note-content a {
  color: #2563eb;
  text-decoration: underline;
}

.note-content ul {
  list-style-type: disc;
}

.note-content ol {
  list-style-type: decimal;
}

/*
.note-content ul,
.note-content ol {
  padding-left: 1.25rem;
  margin: 0.25em 0;
}
*/

/* Quill fix */
.note-content li[data-list="bullet"] {
  list-style-type: disc;
}

.note-content li[data-list="ordered"] {
  list-style-type: decimal;
}


/* === NOTE WRITE STYLE === */

.note-write {
  font-size: 14px;
  line-height: 1.4;
}

/* Paragraph spacing */
.note-write p {
  margin: 0.25em 0;
}

/* List */
.note-write ul,
.note-write ol {
  margin: 0.25em 0;
  padding-left: 1.25em;
}

/* List item */
.note-write li {
  margin: 0;
}

/* Heading */
.note-write h1,
.note-write h2,
.note-write h3 {
  margin: 0.5em 0 0.25em;
}

/* Links */
.note-write a {
  color: #2563eb;
  text-decoration: underline;
}

.note-write ul {
  list-style-type: disc;
}

.note-write ol {
  list-style-type: decimal;
}

/*
.note-write ul,
.note-write ol {
  padding-left: 1.25rem;
  margin: 0.25em 0;
}
*/

/* Quill fix */

/*
.note-write li[data-list="bullet"] {
  list-style-type: disc;
}

.note-write li[data-list="ordered"] {
  list-style-type: decimal;
}

*/